
.location-container {
  background-color: white;
  text-align: center;
}

.feature-image-div {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.location-header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, sans-serif;
  font-size: 8vw;
  font-weight: bold;
  color: #222;
}

/* Setting the width of a block-level element to auto will prevent it from stretching out to the edges of its container to the left and right */

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: 0px 10px;
  grid-auto-rows: 21px;

  margin: auto;
  max-width: 1280px;

  border-style: solid;
  border-width: 1px;
  border-color: lime;
}

.gallery-wrapper img {
  width: 270px;
  cursor: pointer; /* faster here than in hover */
}

.gallery-wrapper img:hover {
  cursor: pointer;
  background: #f9f9f9;
  opacity: 0.75;
  top: 0;
  left: 0;
  transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}



/* .gallery-wrapper {
  margin: 50px 0px 0px 0px;
  display: inline-block;
  max-width: 960px;
  border-style: solid;
  border-width: 1px;
  border-color: purple;
} */

/* this is the div immediately surrounding the image */

/*
.gallery-div {
  display: inline-block;
  width: 20%;
  max-width: 230px;
  margin: 1% 1% 1% 1%;
}

.gallery-div img {
  max-width:100%;
  max-height:100%;
  cursor: pointer;
}
 */


/* for when window width is smaller than 640px */

/*
@media (max-width: 640px) {

  .gallery-wrapper {
    background-color: green;
  }

  .gallery-div {
    display: inline-block;
    width: 40%;
    margin: 5px;
  }

} */
