/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header-image {
  max-width: 100%;
}

/* **********CONTENT CONTAINER********** */

#component-contentContainer {
  text-align: center;
}

.feature-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.location-header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica;
  font-size: 72px;
  font-weight: bold;
}

.gallery-div {
  display: inline-block;
}

.gallery-div img {
  max-width: 18vw;
  margin: 5px 10px;
}

/* **********TESTING STYLES********** */

.helper {
  color: fuchsia;
}

#component-App {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

#component-contentContainer {
  border-style: solid;
  border-width: 1px;
  border-color: orange;
}
